<div class="contenido col-md-12 panelServicio">
    <div id="block-block-8" class="block block-block">
        <div class="content">
            <div class="bloqueH_actores">
                <h3 class="titulo-linea">CAMBIO FORMATO DE PLACA</h3>

            </div>
        </div>         
    </div>
    <div class="contenido col-md-12">
        <div id="messages">
            <div class="messages status ok" ng-show="verMsjOk">
                <h4>Información</h4>
                <span id="msgResultadoRegOk"></span>
            </div>
            <div class="messages status error" ng-show="verMsjError">
                <h4>Error</h4>
                <span id="msgResultadoRegError"></span>
            </div>
        </div>


        <div id="filtroBusqueda" class="panelPrincipal" style="padding-top: 15px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-10 labelRunt"><span class="glyphicon glyphicon-filter"></span>&nbsp;&nbsp;Filtros de búsqueda</div>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="block-system-main1" class="block block-system">
                        <div class="content">
                            <div class="row rowSpace">
                                <div class="form-group" ng-class="{
                                        'has-error'
                                        : errores.placa}">
                                    <div class="col-xs-3 col-sm-3">
                                        <label for="placa" class="control-label">
                                            Placa:
                                        </label>
                                    </div>
                                    <div class="col-xs-9 col-sm-9">
                                        <input id="placa" 
                                               style="width: 50%"
                                               ng-class="{
                                                       'has-error'
                                                       : errores.placa}"
                                               class="form-control input-sm required" 
                                               type="text" 
                                               ng-model="datosFormulario.placa"
                                               maxlength="6"
                                               capitalize/> 
                                        <span ng-show="errores.placa" class="control-label">{{errores.placa}}</span>
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="row rowSpace">
                                <div class="form-group" ng-class="{
                                        'has-error'
                                        : errores.nroTicket}">
                                    <div class="col-xs-3 col-sm-3">
                                        <label for="nroTicket" class="control-label">
                                            Número de Ticket:
                                        </label>
                                    </div>
                                    <div class="col-xs-9 col-sm-9">
                                        <input id="placa" 
                                               style="width: 50%"
                                               ng-class="{
                                                       'has-error'
                                                       : errores.nroTicket}"
                                               class="form-control input-sm required" 
                                               type="text" 
                                               ng-model="datosFormulario.nroTicket"
                                               maxlength="16"
                                               capitalize/>
                                        <span ng-show="errores.nroTicket" class="control-label">{{errores.nroTicket}}</span>
                                    </div>
                                </div>
                            </div>	

                            <br>

                            <div class="row derecha">
                                <hr style="margin-top: 0px;"/>

                                <button type="button" class="btn btn-danger" ng-click = "consulta(datosFormulario.placa)">Consultar</button> 
                                <button type="button" class="btn btn-danger" ng-click="formatoNuevoAAntiguo()">De formato nuevo a antiguo</button>
                                <button type="button" class="btn btn-danger" ng-click="formatoAntiguoANuevo()">De formato antiguo a nuevo</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-body" ng-show="verConsulta">
                    <div class="region region-content">
                        <div id="block-system-main" class="block block-system">
                            <div class="content">
                                <div class="table-responsive">
                                    <table id="mostrarInfo" ng-table="resultadosC" style="border: 1px" class="table table-striped table-bordered" cellspacing="0" width="100%">     
                                        <tr>
                                            <th><div align="CENTER"><font color="#CC6600">PLACA</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">SECRETARIA</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">MODALIDAD</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">ESTADO CARGUE</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">DETALLE</font></div></th>
                                        </tr>

                                        <tr dir-paginate="resultadoConsulta in resultadoConsulta | filter:search | itemsPerPage:pageSize" current-page="currentPage">
                                            <td>{{resultadoConsulta.placa}}</td>
                                            <td>{{resultadoConsulta.secretaria| date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                            <td>{{resultadoConsulta.descModalidad}}</td>
                                            <td>{{resultadoConsulta.estadoCargue}}</td>
                                            <td>
                                                <div align = "center">
                                                    <button type="button" class="btn btn-default" ng-click = "consultaDetalle(resultadoConsulta.placa, resultadoConsulta.boletin)" data-toggle="modal" data-target=".bs-example-modal-lg">    
                                                        <img src="sites/all/themes/runt/images/iconos/icons8-Plus-48.png" width="30" height="30"> 
                                                    </button> 
                                                </div>
                                            </td>                   
                                        </tr>
                                    </table> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contenido col-md-12">
                <div class="panel-body" ng-show="verDetalle">
                    <div class="region region-content">
                        <div id="block-system-main" class="block block-system">
                            <div class="content">
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" ng-click="consulta(datosFormulario.placa)" data-dismiss="modal">Volver</button>
                                </div>
                                <div class="table-responsive">
                                    <table ng-table="resultadosB" style="border: 1px" class="table table-striped table-bordered" cellspacing="0" width="100%">     
                                        <tr>
                                            <th><div align="CENTER"><font color="#CC6600">ID ORGANISMO DE TRANSITO</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">SECRETARIA</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">PLACA</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">MARCA</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">LINEA</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">CLASE</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">CARROCERIA</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">MODALIDAD</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">CILINDRAJE</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">MODELO</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">MOTOR</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">SERIE</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">CHASIS</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">CLASE</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">CAPACIDAD DE TONELADA</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">CAPACIDAD DE PASAJEROS</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">ESTADO</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">MIGRADO</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">CODIGO DE CARGA</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">RADICADO</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">FECHA DE CARGA</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">ID FOLIO</font></div></th>     
                                        <th><div align="CENTER"><font color="#CC6600">ESTADO DEL CARGUE</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">BOLETIN</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">DESC. CLASE</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">DESC. MODALIDAD</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">INDVALIDO</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">DESC. ESTADO</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">TIPOCARRO</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">ACTUALIZA</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">CAMBIO ESTADO</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">CAMBIO FORMATO</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">CAMBIO SERVICIO</font></div></th>
                                        <th><div align="CENTER"><font color="#CC6600">ID SERVICIO</font></div></th>   
                                        </tr>    
                                        <tr dir-paginate="resultado in resultadoDetalle | filter:search | itemsPerPage:pageSize" current-page="currentPage">
                                            <td>{{resultado.idOt}}</td>
                                            <td>{{resultado.secretaria}}</td>
                                            <td>{{resultado.placa}}</td>
                                            <td>{{resultado.marca}}</td>
                                            <td>{{resultado.linea}}</td>
                                            <td>{{resultado.clase}}</td>
                                            <td>{{resultado.carroceria}}</td>
                                            <td>{{resultado.modalidad}}</td>
                                            <td>{{resultado.cilindraje}}</td>
                                            <td>{{resultado.modelo}}</td>
                                            <td>{{resultado.motor}}</td>
                                            <td>{{resultado.serie}}</td>
                                            <td>{{resultado.chasis}}</td>
                                            <td>{{resultado.capacidadToneladas}}</td>
                                            <td>{{resultado.capacidadPasaj}}</td>
                                            <td>{{resultado.estado}}</td>
                                            <td>{{resultado.migrado}}</td>
                                            <td>{{resultado.codCarga}}</td>
                                            <td>{{resultado.radicado}}</td>
                                            <td>{{resultado.fechaCarga| date:'dd/MM/yyyy'}}</td>
                                            <td>{{resultado.idFolio}}</td>
                                            <td>{{resultado.estadoCargue}}</td>
                                            <td>{{resultado.boletin}}</td>
                                            <td>{{resultado.descClase}}</td>
                                            <td>{{resultado.descModalidad}}</td>
                                            <td>{{resultado.indValido}}</td>
                                            <td>{{resultado.descEstado}}</td>
                                            <td>{{resultado.tipoCarro}}</td>
                                            <td>{{resultado.actualiza}}</td>
                                            <td>{{resultado.cambioEstado}}</td>
                                            <td>{{resultado.cambioFormato}}</td>
                                            <td>{{resultado.cambioServicio}}</td>
                                            <td>{{resultado.idServicio}}</td>                                
                                        </tr>
                                    </table> 
                                </div>

                                <!--                    </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>