<script type="text/javascript">
    function clicRegistrar() {
    $("#btnRegistrarSolc").click();
    }


    var reader;
    var progress = document.querySelector('.percent');
    function abortRead() {
    reader.abort();
    }

    function errorHandler(evt) {
    switch (evt.target.error.code) {
    case evt.target.error.NOT_FOUND_ERR:
            alert('File Not Found!');
    break;
    case evt.target.error.NOT_READABLE_ERR:
            alert('File is not readable');
    break;
    case evt.target.error.ABORT_ERR:
            break; // noop
    default:
            alert('An error occurred reading this file.');
    }
    ;
    }

    function updateProgress(evt) {
    // evt is an ProgressEvent.
    if (evt.lengthComputable) {
    var percentLoaded = Math.round((evt.loaded / evt.total) * 100);
    // Increase the progress bar length.
    if (percentLoaded < 100) {
    progress.style.width = percentLoaded + '%';
    progress.textContent = percentLoaded + '%';
    }
    }
    }

    function handleFileSelect(evt) {
    $('#archivo').val();
    $('#nombre').val();
    var files = evt.target.files; // FileList object
    var file = files[0];
    if (file.size > '3000000') {
    $('#files').scope().mensaje(file.size);
    $('#files').val('');
    $('#nombre').val('');
    } else {
    // Reset progress indicator on new file selection.
    progress.style.width = '0%';
    progress.textContent = '0%';
    reader = new FileReader();
    reader.onerror = errorHandler;
    reader.onprogress = updateProgress;
    reader.onabort = function (e) {
    alert('File read cancelled');
    };
    reader.onloadstart = function (e) {
    document.getElementById('progress_bar').className = 'loading';
    };
    reader.onload = function (e) {
    // Ensure that the progress bar displays 100% at the end.
    progress.style.width = '100%';
    progress.textContent = '100%';
    setTimeout(
            "document.getElementById('progress_bar').className='';",
            2000);
    };
    reader.onloadend = function (evt) {
    if (evt.target.readyState == FileReader.DONE) { // DONE == 2
    $('#archivo').val(btoa(evt.target.result));
    $('#nombre').val(escape(file.name));
    //document.getElementById('archivo').value = btoa(evt.target.result); 
    //document.getElementById('nombre').value = escape(file.name)
    }
    };
    // Read in the image file as a binary string.
    reader.readAsBinaryString(evt.target.files[0]);
    }
    }

    if (window.File && window.FileReader && window.FileList && window.Blob) {
    document.getElementById('files').addEventListener('change',
            handleFileSelect, false);
    } else {
    ('#files').scope().validacionNavegador();
    }

    $("#files").fileinput({
    'language': "es",
            'showCaption': true,
            'browseClass': 'btn btn-danger btn-sm',
            'fileType': 'any',
            'allowedFileExtensions': ['.zip'],
            'showUpload': false
    });</script>
<div class="contenido col-md-12 panelServicio">
    <div id="block-block-8" class="block block-block">
        <div class="content">
            <div class="bloqueH_actores">
                <h3 class="titulo-linea">PROCESO MIGRACIÓN</h3>

            </div>
        </div>         
    </div>
    <div class="contenido col-md-12">
        <div id="messages">
            <div class="messages status ok" ng-show="verMsjOk">
                <h4>Información</h4>
                <span id="msgResultadoRegOk"></span>
            </div>
            <div class="messages status error" ng-show="verMsjError">
                <h4>Error</h4>
                <span id="msgResultadoRegError"></span>
            </div>
        </div>

        <div class="panel-body" ng-show="verBotones">
            <div class="region region-content">
                <div id="block-system-main" class="block block-system">
                    <div class="content">

                        <div id="filtroBusqueda" class="panelPrincipal" style="padding-top: 15px;">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-10 labelRunt"><span class="glyphicon glyphicon-filter"></span>&nbsp;&nbsp;Filtros de búsqueda</div>
                                    </div>
                                </div>

                                <div class="panel-body">
                                    <div id="block-system-main1" class="block block-system">
                                        <div class="content">
                                            <div class="botones-actores">                        
                                                <p class="btn-act">
                                                    <a class="btnNA btn-otros" ng-click="mostrarRNA()">RNA</a>
                                                    <a class="btnNA btn-otros" ng-click="mostrarRNC()">RNC</a>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body" ng-show="verRNA">
            <div class="region region-content">
                <div id="block-system-main" class="block block-system">
                    <div class="content">
                        <div id="filtroBusqueda" class="panelPrincipal" style="padding-top: 15px;">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-10 labelRunt"><span class="glyphicon glyphicon-filter"></span>&nbsp;&nbsp;PROCESO DE MIGRACION RNA</div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div id="block-system-main1" class="block block-system">
                                        <div class="content">
                                            <!--OT-->
                                            <div class="row rowSpace">
                                                <div class="form-group" ng-class="{'has-error': errores.idSecretaria}">
                                                    <div class="col-xs-3 col-sm-3">
                                                        <label for="organismotransito" class="control-label">
                                                            Organismo de Tránsito:
                                                        </label>
                                                    </div>
                                                    <div class="col-xs-9 col-sm-9">
                                                        <div class="form-group" ng-class="{'has-error': errores.idSecretaria}">
                                                            <select class="form-control" 
                                                                    id="sel" 
                                                                    name="name" 
                                                                    style="width:320px" 
                                                                    ng-model="datosFormulario.idSecretaria" 
                                                                    ng-options="ot.descripcionCorta for ot in listarOt"
                                                                    value="{{ot.descripcionCorta}}">
                                                            </select>
                                                            <span ng-show="errores.idSecretaria" class="control-label">{{errores.idSecretaria}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--OT-->
                                            <!--TIPO CARGUE-->
                                            <div class="row rowSpace">
                                                <div class="form-group" ng-class="{'has-error': errores.tipoCargue}">
                                                    <div class="col-xs-3 col-sm-3">
                                                        <label for="tipCargue" class="control-label">
                                                            Tipo de Cargue:
                                                        </label>
                                                    </div>
                                                    <div class="col-xs-9 col-sm-9">
                                                        <div class="form-group" ng-class="{'has-error': errores.tipoCargue}">
                                                            <select class="form-control" 
                                                                    id="sel" 
                                                                    name="name" 
                                                                    style="width:320px" 
                                                                    ng-model="datosFormulario.tipoCargue" >
                                                                <option value="">--Seleccione una opción--</option>
                                                                <option value="1">Normal</option>
                                                                <option value="2">Resolucion</option>
                                                                <option value="3">CD</option>
                                                                <option value="4">Reproceso</option>
                                                                <option value="5">Sede Operativa</option>
                                                                <option value="6">Imp. Temporal</option>
                                                                <option value="7">RNTC Vehiculos de carga</option>
                                                                <option value="8">Seguridad del Estado</option>
                                                            </select>
                                                            <span ng-show="errores.tipoCargue" class="control-label">{{errores.tipoCargue}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--TIPO CARGUE-->
                                            <!--TUTELA-->
                                            <div class="row rowSpace">
                                                <div class="form-group" ng-class="{'has-error': errores.tutela}">
                                                    <div class="col-xs-3 col-sm-3">
                                                        <label for="Tutela" class="control-label">
                                                            Tutela:
                                                        </label>
                                                    </div>
                                                    <div class="col-xs-9 col-sm-9">
                                                        <div class="form-group" ng-class="{'has-error': errores.tutela}">
                                                            <select class="form-control" 
                                                                    id="sel" 
                                                                    name="name" 
                                                                    style="width:320px" 
                                                                    ng-model="datosFormulario.tutela" >
                                                                <option value="">--Seleccione una opción--</option>
                                                                <option value="1">SI</option>
                                                                <option value="2">NO</option>
                                                            </select>
                                                            <span ng-show="errores.tutela" class="control-label">{{errores.tutela}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--TUTELA-->
                                            <br>
                                            <!--CARGUE ARCHIVO-->
                                            <div class="row rowSpace" ng-class="{'has-error': errores.fileadjunto}">
                                                <div class="col-xs-3 col-sm-3">
                                                    <label for="archivo" class="control-label">
                                                        Archivo comprimido
                                                    </label>
                                                    <br>
                                                    Formatos permitidos: .zip
                                                </div>
                                                <div class="col-xs-9 col-sm-9">
                                                    <input type="file" id="files" name="files"
                                                           size="3000000" data-preview-file-type="any"
                                                           accept=".zip" 
                                                           style="width: 50%"/> 
                                                    <input type="text"
                                                           id="archivo" name="archivo" ng-value="" ng-model="newsoporteRNA"
                                                           ng-show="false"> 
                                                    <input type="text" id="nombre"
                                                           name="nombrec" ng-value="" ng-model="newsoporteRNA"
                                                           ng-show="false">
                                                    <div id="progress_bar">
                                                        <div class="percent">0%</div>  
                                                    </div>
                                                    <span class="control-label" ng-show="errores.fileadjunto">{{errores.fileadjunto}}</span>
                                                </div>
                                            </div>
                                            <!--CARGUE ARCHIVO-->
                                            <!--BOTONES-->
                                            <div class="row derecha">
                                                <hr style="margin-top: 0px;"/>
                                                <button type="button" class="btn btn-danger" ng-click="importarRNA()">Importar</button>
                                                <button type="button" class="btn btn-danger" ng-click="regresar()">Regresar</button>
                                            </div>
                                            <!--BOTONES-->
                                            <br>
                                            <!--GENERAR BOLETIN-->
                                            <div class="panel panel-default" ng-show="verImprimirBoletin">
                                                <div class="panel-body">
                                                    <div id="block-system-main1" class="block block-system">
                                                        <div class="content">

                                                            <div class="table-responsive">
                                                                <table style="border: 1px" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                                    <tr> 
                                                                        <th bgcolor = "white" width="200" height="40"><div><font color="#000000">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; CODIGO DE CARGA GENERADO</font></div></th>
                                                                        <td bgcolor = "white" width="200" height="40">&nbsp; &nbsp; &nbsp; {{resultado.codCarga}}</td>
                                                                    </tr>
                                                                </table>
                                                            </div>

                                                            <div class="row derecha">
                                                                <div class="col-xs-12 col-sm-15">
                                                                    <button type="button" class="btn btn-danger" ng-click="imprimirBoletinRnaProceso(resultado.codCarga)">&nbsp Generar Boletin &nbsp</button>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--GENERAR BOLETIN-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--RNA-->
        <!--Criterio busqueda por tipo de registro-->
        <div class="panel-body" ng-show="verRNC">
            <div class="region region-content">
                <div id="block-system-main" class="block block-system">
                    <div class="content">

                        <div id="filtroBusqueda" class="panelPrincipal" style="padding-top: 15px;">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-10 labelRunt"><span class="glyphicon glyphicon-filter"></span>&nbsp;&nbsp;Filtros de búsqueda</div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div id="block-system-main1" class="block block-system">
                                        <div class="content">
                                            <!--Secretaria-->
                                            <div class="row rowSpace">
                                                <div class="form-group" ng-class="{'has-error': errores.idSecretaria}">
                                                    <div class="col-xs-3 col-sm-3">
                                                        <label for="codCarga" class="control-label">
                                                            Organismo de Tránsito:
                                                        </label>
                                                    </div>
                                                    <div class="col-xs-9 col-sm-9">
                                                        <div class="form-group" ng-class="{'has-error': errores.idSecretaria}">
                                                            <select class="form-control" 
                                                                    id="sel" 
                                                                    name="name" 
                                                                    style="width:320px" 
                                                                    ng-model="datosFormulario.idSecretaria" 
                                                                    ng-options="ot.idSecretaria +   ' | ' +   ot.descripcionCorta for ot in listarOt"
                                                                    ng-options="ot.idSecretaria +    ' | ' +    ot.descripcionCorta for ot in listarOt"
                                                                    value="{{ot.descripcionCorta}}">
                                                            </select>
                                                            <span ng-show="errores.idSecretaria" class="control-label">{{errores.idSecretaria}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--fin Secretaria-->
                                            <!--Tipo de cargue-->
                                            <div class="row rowSpace">
                                                <div class="form-group" ng-class="{'has-error': errores.tipoCargue}">
                                                    <div class="col-xs-3 col-sm-3">
                                                        <label for="codCarga" class="control-label">
                                                            Tipo de registro:
                                                        </label>
                                                    </div>
                                                    <div class="col-xs-9 col-sm-9">
                                                        <div class="form-group" ng-class="{'has-error': errores.tipoCargue}">
                                                            <select class="form-control" 
                                                                    id="sel" 
                                                                    name="name" 
                                                                    style="width:320px" 
                                                                    ng-model="datosFormulario.tipoCargue" >
                                                                <option value="">--Seleccione una opción--</option>
                                                                <option value="1">Normal</option>
                                                                <option value="2">CD</option>
                                                                <option value="3">Tutela</option>
                                                            </select>
                                                            <span ng-show="errores.tipoCargue" class="control-label">{{errores.tipoCargue}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--fin tipo de cargue-->
                                            <!--numero de ticket-->

                                            <div class="row rowSpace">
                                                <div class="form-group" ng-class="{'has-error': errores.nroTicket}">
                                                    <div class="col-xs-3 col-sm-3">
                                                        <label for="ticket" class="control-label">
                                                            Número de Ticket:
                                                        </label>
                                                    </div>
                                                    <div class="col-xs-9 col-sm-9">
                                                        <input id="ticket" 
                                                               style="width: 54%"
                                                               ng-class="{'has-error': errores.nroTicket}"
                                                               class="form-control input-sm required" 
                                                               type="text" 
                                                               ng-model="datosFormulario.nroTicket"
                                                               capitalize
                                                               maxlength="15"/>
                                                        <span ng-show="errores.nroTicket" class="control-label">{{errores.nroTicket}}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <br>

                                            <div class="row rowSpace" ng-class="{'has-error': errores.archivoEmpaquetado}">
                                                <div class="col-xs-3 col-sm-3">
                                                    <label for="archivoEmpaquetado" class="control-label">
                                                        Archivo comprimido
                                                    </label>
                                                    <br>
                                                    Formatos permitidos: .p7z
                                                </div>
                                                <div class="col-xs-9 col-sm-9">
                                                    <input type="file" id="archivoEmpaquetado" name="archivoEmpaquetado"
                                                           size="5000000" 
                                                           accept=".zip"
                                                           style="width:80%"/> 
                                                    <span ng-show="errores.archivoEmpaquetado" class="control-label">{{errores.archivoEmpaquetado}}</span>
                                                    <div id="progress_bar">
                                                        <div class="percent">0%</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row derecha">
                                                <hr style="margin-top: 0px;"/>
                                                <button type="button" class="btn btn-danger" ng-click="importarRNC()">Importar</button>
                                                <button type="button" class="btn btn-danger" ng-click="regresar()">Regresar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Fin consulta por código de carga-->
    </div>
</div>